{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% block actionButton %}
	<div class="buttons">
		<button type="button" class="btn submit" data-icon="refresh" id="refresh-btn">
			{{ 'Refresh'|t('upsnap') }}
		</button>
	</div>
{% endblock %}

{% block content %}

	{% if success == 'warning' %}
		{% set statusClass = 'warning' %}
		{% set containerClass = 'warning' %}

		{% include 'upsnap/_components/status-container.twig' %}
	{% else %}

		{# Skeleton placeholders visible initially #}
		<div id="status-container-wrapper" data-page="broken-links">
			<div class="skeleton-card">
				<div class="skeleton-card-header">
					<div class="skeleton-line skeleton-line-medium"></div>
				</div>
				<div class="skeleton-card-body">
					<div class="skeleton-line skeleton-line-long"></div>
					<div class="skeleton-line skeleton-line-short"></div>
				</div>
			</div>
		</div>

		<div id="details-container-wrapper">
			<div class="skeleton-card">
				<div class="skeleton-card-header">
					<div class="skeleton-line skeleton-line-short"></div>
				</div>
				<div class="skeleton-card-body">
					<div class="skeleton-field">
						<div class="skeleton-line skeleton-line-short"></div>
						<div class="skeleton-line skeleton-line-medium"></div>
					</div>
					<div class="skeleton-field">
						<div class="skeleton-line skeleton-line-short"></div>
						<div class="skeleton-line skeleton-line-long"></div>
					</div>
				</div>
			</div>
		</div>

		{# Actual broken links table will be loaded here via AJAX #}
		<div id="broken-links-section"></div>
	{% endif %}
{% endblock %}
