{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% block actionButton %}
	<div class="buttons">
		<div class="btngroup">
			<button type="button" class="btn submit" data-icon="refresh" id="refresh-btn">
				{{ 'Refresh'|t('upsnap') }}
			</button>
		</div>
	</div>
{% endblock %}

{% block content %}
	{% if success == 'warning' %}
		{% set statusClass = 'warning' %}
		{% set containerClass = 'warning' %}

		{% include 'upsnap/_components/status-container.twig' %}
	{% else %}

		{# Status container will be updated via AJAX #}
		<div id="status-container-wrapper"></div>
		<div id="details-container-wrapper"></div>

		{# Initial loading state #}
		<div class='loading-container' id="loading-container" style="display: none;">
			<div class="loading-spinner"></div>
		</div>

		<div id="domain-details-section"></div>
	{% endif %}

{% endblock %}
