{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% block actionButton %}
	<div class="buttons">
		<div class="btngroup">
			<button type="button" class="btn submit" data-icon="refresh" id="refresh-btn">
				{{ 'Refresh'|t('upsnap') }}
			</button>
		</div>
	</div>
{% endblock %}

{% block content %}
	{% if success == 'warning' %}
		{% set statusClass = 'warning' %}
		{% set containerClass = 'warning' %}

		{% include 'upsnap/_components/status-container.twig' %}
	{% else %}

		{# Status container will be updated via AJAX #}
		<div id="status-container-wrapper" data-page="security-certificates">
			<div class="skeleton-card">
				<div class="skeleton-card-header">
					<div class="skeleton-line skeleton-line-medium"></div>
				</div>
				<div class="skeleton-card-body">
					<div class="skeleton-line skeleton-line-long"></div>
					<div class="skeleton-line skeleton-line-short"></div>
				</div>
			</div>
		</div>
		<div id="details-container-wrapper">
			<div class="skeleton-card">
				<div class="skeleton-card-header">
					<div class="skeleton-line skeleton-line-short"></div>
				</div>
				<div class="skeleton-card-body">
					<div class="skeleton-field">
						<div class="skeleton-line skeleton-line-short"></div>
						<div class="skeleton-line skeleton-line-long"></div>
					</div>
					<div class="skeleton-field">
						<div class="skeleton-line skeleton-line-short"></div>
						<div class="skeleton-line skeleton-line-medium"></div>
					</div>
					<div class="skeleton-field">
						<div class="skeleton-line skeleton-line-short"></div>
						<div class="skeleton-line skeleton-line-short"></div>
					</div>
				</div>
			</div>
		</div>

		{# Security certificates details section - will be updated via AJAX #}
		<div id="security-certificates-section"></div>
	{% endif %}

{% endblock %}
